.footer {
    padding-bottom: 20px;
}

.footer .all-img {
    display: flex;
    justify-content: flex-end;
}


.footer .all-img .img-footer {
    position: relative;
}

.footer .all-img .img-footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: -17px;
    width: 1px;
    height: 100px;
    background-color: #94a1a8;
}

.footer .all-img .social-media-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .all-img .social-media-footer li {
    margin: 0 3px;
}